body {
    font-family: Arial, Helvetica, sans-serif;
}
.drawer {
    margin: 20px auto 0 auto;
}

.advice {
    display: none;
}
.example {
    text-decoration: underline;
    color: blue;
    
}

.drawer__reset {
    display: none;
}

.example:hover {
    cursor: pointer;
}


.drawer__request {
    width: 240px;
}

#canvas {
    margin-top: 20px;
    width: 60%;
    height: 60%;
}